/* shared section */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.common-btn {
  border-radius: 8px;
  background-color: #e55473;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
  margin-top: 25px;
}

/* Header section */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding: 50px 100px 0px 100px;
  background-color: rgba(229, 84, 115, 0.1);
  height: 650px;
}

.header-text {
  text-align: left;
}

.header-flower {
  width: 635px;
  height: 650px;
}

.header-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 25px;
}

.header-details {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  /* margin-bottom: 25px; */
}

/* Main section */

/* Featured Section */

.featured {
  margin-top: 160px;
  padding-left: 100px;
  padding-right: 100px;
}

.featured-text {
  text-align: center;
}

.featured-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.featured-details {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.featured-flowers-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}

.flower-name {
  text-align: center;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  margin-top: 25px;
}
#flower-1 {
  border-radius: 300px 300px 0px 0px;
  background-color: rgba(167, 33, 98, 0.15);
  padding: 110px 65px 0px 65px;
}

#flower-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  padding: 117px 37px 51px;
}

#flower-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 67px 65px 0px;
}

/* Hot Deal Section */

.hot-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 80px 0px;
}

.hot-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.hot-text {
  text-align: center;
}

.hot-details {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
}

/* Instagram section */

.instagram {
  margin-top: 120px;
  margin-right: 100px;
  margin-left: 100px;
}

.insta-text {
  text-align: center;
}

.insta-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

.insta-details {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 45px;
}

.insta-flower-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
